.title1 {
    font-weight: var(--font-weight-2);
    color: var(--color-grey-1);
    font-size: var(--font-size-1);
}

.title1-bold {
    font-weight: var(--font-weight-1);
    color: var(--color-grey-1);
    font-size: var(--font-size-1);
}

.title2-bold {
    font-weight: var(--font-weight-1);
    color: var(--color-grey-1);
    font-size: var(--font-size-1);
}

.title2-medium {
    font-weight: var(--font-weight-2);
    color: var(--color-grey-1);
    font-size: var(--font-size-2);
    line-height: var(--font-line-heigth-1);
}

.text1 {
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-2);
    color: var(--color-grey-2);
}

.text1-medium {
    font-weight: var(--font-weight-2);
    color: var(--color-grey-1);
    font-size: 14px;
    line-height: var(--font-line-heigth-1);
}